server/personalised_query/models/*
server/personalised_query/__pyache__/*
server/personalised_query/bert_embeddings/*.p
server/personalised_query/nlp_embeddings/*.p
server/personalised_query/session/*.json
server/personalised_query/__pycache__/*
frontend/node_modules

