.form.form-process-setting {
  width: 50%;
  max-height: calc(100% - 24px);
  overflow: hidden;
  h3 {
    padding-bottom: 12px;
    width: 100%;
    text-align: center;
    .circle {
      margin-left: 12px;
    }
  }
  h4 {
    padding: 6px 0 4px;
    span {
      font-weight: normal;
      color: $cl-highlight;
    }
    label {
      font-weight: normal;
      font-style: italic;
      font-size: 12px;
      opacity: 0.7;
      margin-left: 8px;
    }
  }
}
@media screen and (max-width: 900px) {
  .form.form-process-setting {
    width: calc(100% - 24px);
    h3 {
      font-size: 12px;
      padding-bottom: 12px;
      width: 100%;
      text-align: center;
      .circle {
        margin-left: 12px;
      }
    }
    .actions {
      .btn {
        i:before {
          margin: 0;
        }
        .text {
          display: none;
        }
      }
    }
  }
}
