$notification-width: 350px;
.notifications {
  position: absolute;
  // max-width: $notification-width;
  max-height: calc(100% - 72px - 12px - 12px);
  overflow: auto;
  top: $appbar-height + 12px;
  right: 12px;
  z-index: 1;
  background-color: transparent;
  .notification {
    width: $notification-width;
    padding: 20px 16px;
    background-color: #476d72;
    color: white;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    margin-bottom: 12px;
    word-break: break-all;
    cursor: pointer;
    &.error {
      background-color: #ff4357;
      color: #333333;
    }
    &.warning {
      background-color: #f5d100;
      color: #333333;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
