.page.page-qna {
  $size: 64px;
  padding: 0;
  height: 100%;
  .page-content {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .searchbar {
    display: flex;
    align-items: center;
    padding: 24px 25% 12px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: $cl-orange;
    .textfield {
      margin-right: 0;
    }
    label {
      white-space: nowrap;
    }
    .svg-icon {
      margin: 0 8px;
    }
  }
  .results {
    width: 100%;
    display: block;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 12px;
  }
  .result {
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin: 48px 24px 0 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    width: calc(32% - 12px);
    .info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 24px;
      cursor: pointer;
      height: $size;
    }
    .score {
      width: $size;
      height: $size;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: bold;
      font-size: 120%;
      margin: -48px 24px 0 0;
      border-radius: 3px;
      background-color: #999;
      background: linear-gradient(60deg, #ffa726, #fb8c00);
      box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28),
        0 4px 20px 0px rgba(0, 0, 0, 0.12),
        0 7px 8px -5px rgba(255, 152, 0, 0.2);
      .circle {
        border-radius: 50%;
        background-color: #fff;
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #555555;
      }
      &.high {
        background: linear-gradient(60deg, #66bb6a, #43a047);
        box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28),
          0 4px 20px 0px rgba(0, 0, 0, 0.12),
          0 7px 8px -5px rgba(76, 175, 80, 0.2);
      }
      &.low {
        background: linear-gradient(60deg, #ef5350, #e53935);
        box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28),
          0 4px 20px 0px rgba(0, 0, 0, 0.12),
          0 7px 8px -5px rgba(244, 67, 54, 0.2);
      }
    }
    .name {
      font-weight: bold;
    }
    .content {
      padding: 12px;
      display: none;
      border-top: 1px solid #dedede;
    }
    &.open {
      width: 100%;
      margin-right: 0;
    }
    &.no-result {
      padding: 24px;
    }
  }
}
@media screen and (max-width: 900px) {
  .page.page-qna {
    .result {
      width: 100%;
    }
  }
}
@media screen and (max-width: 600px) {
  .page.page-qna {
    .searchbar {
      padding: 24px 0 12px;
      .textfield {
        margin-right: 0;
      }
      label {
        display: none;
      }
      .svg-icon {
        margin: 0 8px;
      }
    }
  }
}
