.page.page-nlg {
  .name-highlight {
    border-radius: 3px;
    background-color: #d0bfff;
    color: #fff;
    padding: 3px;
  }
  .area-highlight {
    border-radius: 3px;
    background-color: #2ece6a;
    color: #fff;
    padding: 3px;
  }
}
