.page.page-scheduler {
  > h3 {
    padding-left: 23px + $margin;
    background-image: url(/assets/menu/scheduler_white.svg);
    background-position: 0 0;
    background-size: 23px;
    background-repeat: no-repeat;
  }
}
