.page.page-cdap {
  padding: 0;
  margin: 0;
  iframe {
    background-color: white;
    display: block !important;
    outline: none;
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
