$font-family: "Roboto", sans-serif;
$bg-theme: #333333;
$cl-white: #eaeaea;
$cl-highlight: #02ffff;
$cl-text-cyan: #00ffff;
$cl-red: #ff555d;
$cl-yellow: #f8d800;
$cl-orange: #fb8c00;
$cl-green: #43a047;
$cl-blue: #00b3c8;
$cl-cyan: #02ffff;
$cl-placeholder: #b7b7b7;
$cl-textfield-label: rgba(255, 255, 255, 0.7);
$border-cyan: #02ffff;
$border-thin-grey: 1px solid rgba(255, 255, 255, 0.5);
$border-thick-grey: 1.5px solid rgba(255, 255, 255, 0.5);
$border-thin-cyan: 1px solid #02ffff;
$border-thick-cyan: 1.5px solid #02ffff;
$border-thin-red: 1px solid #ff555d;
$border-thick-red: 1.5px solid #ff555d;
$margin: 12px;
$bmargin: 24px;
$appbar-height: 72px;
$background-green: #506b71;
$drawer-width: 240px;
$drawer-transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
$canvas-height: 400px;
$palette-width: 300px;
$property-height: 300px;
$scrollbar-border: 0.5px solid rgba(0, 255, 255, 0.4);
$scrollbar-width: 0px;
$scrollbar-bg: #000000;
$scrollbar-thumb-bg: #506b71;
$font-size-inputfield: 13px;

$property-panel-bw: 330px;
$property-panel-sw: 0;
$property-panel-handle-h: 32px;
$property-panel-handle-w: 220px;
$property-panel-handle-bg: $cl-red;
$property-panel-content-bg: #000;
$property-panel-tab-height: 40px;
